**Module** is like a code library which can be used to borrow the code written by somebody else, is of 2 types:

**Built-in** **modules** are included in Python's standard library and do not require installation and can be used using import. Example: math, os etc.

**External modules** are not included in the standard library and need to be installed using a package manager like pip. Example: numpy, pandas etc.

In [27]:
print("Hi I am \"Suzain\".")  #Escape Sequence

Hi I am "Suzain".

In [28]:
print("My name is \"Suzain\",\nI live in \"India\",\nI love \"Animals\".")

My name is "Suzain",
I live in "India",
I love "Animals".

In [29]:
new_var = print("My name is \"Suzain\" " ," I live in \"India\"", sep="and")
new_var

My name is "Suzain" and I live in "India"

In [33]:
print("Suzain", "24","Female", sep = "\n")  #Separator

Suzain
24
Female

In [34]:
'''new_var = print("My name is \"Suzain\" " ," I live in \"India\"", sep="and")
new_var'''                   ##Multi-line Comment
print("Hello")

Hello

**Typecasting**: Conversion of one data type to another.
Has 2 types:  
**Implicit Typecasting:** Here, Python automatically converts one data type to another to avoid data loss or errors during operations.

**Explicit Typecasting:** It is when you manually convert one data type to another using functions like int(), float(), str(), etc.

In [35]:
a = 1
b = 2
print(type(a))

<class 'int'>

In [36]:
a = "1"
b = "2"
print(type(a))
print(a + b)

<class 'str'>
12

In [37]:
a = int(2.2)
b = 2.2
print(type(a))

<class 'int'>

In [38]:
#Implicit Typecasting:
a = 2  #integer
b = 2.2  #float
print(a + b)  #float

4.2

In [39]:
#Explicit Typecasting:
a = "1"  #string
a = int(a)
print(type(a))

<class 'int'>

**Taking input from User using input() function:**

In [41]:
a = int(input("Enter the first number:"))
b = int(input("Enter the second number:"))
print("The sum of a and b is:",a+b)

Enter the first number:10
Enter the second number:12
The sum of a and b is: 22

In [42]:
name = input("Enter your name: ")
print("Hello ", name  + "! :)")

Enter your name: ELf
Hello  ELf! :)

**Strings**: A string is a sequence of characters enclosed within single quotes (' '), double quotes (" "), or triple quotes (''' ''' or """ """).

*Immutable:* Once a string is created, its content cannot be changed.


*Ordered:* Strings maintain the order of characters, so indexing and slicing are possible.

In [44]:
print("\"The Sun is awake so I am awake!\"\n\n", "\"Do you wanna build a Snowman?\"")

"The Sun is awake so I am awake!"

 "Do you wanna build a Snowman?"

In [45]:
frozen = """Do you wanna build a snowman

Or ride our bikes around the halls?

I think some company is overdue, I've started talking to

The pictures on the walls

Hang in there, Joan

It gets a little lonely, all these empty rooms

Just watching the hours tick by

(tick, tock, tick, tock, tick, tock, tick, tock)

Elsa?

Please, I know you're in there

People are asking where you've been

\"They say have courage and I'm trying to

I'm right out here for you

Just let me in

We only have each other, it's just you and me\"

What are we gonna do?

\"Do you wanna build a snowman?\""""
print(frozen)

Do you wanna build a snowman

Or ride our bikes around the halls?

I think some company is overdue, I've started talking to

The pictures on the walls

Hang in there, Joan

It gets a little lonely, all these empty rooms

Just watching the hours tick by

(tick, tock, tick, tock, tick, tock, tick, tock)

Elsa?

Please, I know you're in there

People are asking where you've been

"They say have courage and I'm trying to

I'm right out here for you

Just let me in

We only have each other, it's just you and me"

What are we gonna do?

"Do you wanna build a snowman?"

In [46]:
nm = """Harry"""
print(nm[-4:-2])
print(len(nm))

ar
5

In [62]:
name = input("Enter your name:")
count = (len(name))
print("Your name has \"",count, "\" characters.")

Enter your name:Suzain!!!
Your name has " 9 " characters.

In [63]:
char_count = name[0:5]
print(char_count)

Suzai

In [64]:
char_count = name[:9]
print(char_count)

Suzain!!!

In [65]:
char_count = name[:] #By default takes values from 0 to len of string
print(char_count)

Suzain!!!

In [66]:
for i in name:
  print(name)

Suzain!!!
Suzain!!!
Suzain!!!
Suzain!!!
Suzain!!!
Suzain!!!
Suzain!!!
Suzain!!!
Suzain!!!

In [67]:
for i in name:
  print(i)

S
u
z
a
i
n
!
!
!

**String Methods:**

**The strip()** method in Python does not limit its operation to only the exact characters at the ends of the string.
Instead, it works by removing all occurrences of any character specified in its argument from the start and end of the string.
It does not remove characters from the middle of the string.

In [68]:
a = "     London Paris      "
print(a)
print(a.strip())  #Removes whitespaces before and after the string.

     London Paris
London Paris

The **rstrip() method** in Python is used to remove any trailing characters (characters at the end of a string).
By default, it removes whitespace (spaces, tabs, newlines) from the right side of the string
but you can also specify a set of characters to remove.

In [69]:
str = name.rstrip("!")
print(str)

Suzain

In [70]:
str = name.rstrip("")
print(str)

Suzain!!!

In [76]:
str_1 = "TheJungleBook@#$%**)(||\:;)"
print(str_1)

TheJungleBook@#$%**)(||\:;)

In [83]:
result = str_1.rstrip("Booklu@#$%*)(|\\:;")
print(result)

TheJungle

In [84]:
str = "TheJungleBook@#$%**)(||\:;)"
str_1= str.rstrip("@#$%**)(||\:;)")
print(str_1)

TheJungleBook

In [85]:
str_2 = str_1.upper()
print(str_2)

THEJUNGLEBOOK

In [86]:
str_2 = str_1.lower()
print(str_2)

thejunglebook

In [87]:
#Replace method replaces all occurences of a string with another string.

a = "My name is Paris.\nI live in Tokyo.\nI like to eat Turkey."
print(a)
print("******************************************")
x = a.replace("Paris", "Elf").replace("Turkey", "Pizza").replace(" ", " + ").replace(".","!").replace("\n","\n\n")
print(x)
#print(a.replace("Paris", "Elf").replace("Turkey", "Pizza").replace(" ", " + "))

My name is Paris.
I live in Tokyo.
I like to eat Turkey.
******************************************
My + name + is + Elf!

I + live + in + Tokyo!

I + like + to + eat + Pizza!

In [88]:
a = "Yaaaay!\n" * 3
print(a)

Yaaaay!
Yaaaay!
Yaaaay!

**split():**

**The split()** method in Python is used to break a string into a list of substrings based on a specified delimiter.

By default, it splits the string at whitespace characters.

In [89]:
a = "I love Persia"
b = a.split()
print(b)

['I', 'love', 'Persia']

In [92]:
a = "I-lovePersia"
b = a.split("-")
print(b)

['I', 'lovePersia']

In [93]:
# The maxsplit parameter in Python's split() method controls how many splits are performed on the string.
# After performing the specified number of splits, the rest of the string is returned as the final element of the resulting list.
a = "London Paris Vegas Rome Oslow Greece Italy"
b = a.split(" ", 2)                              #Performing maxsplit(2)
print(b)

['London', 'Paris', 'Vegas Rome Oslow Greece Italy']

**capitalize():**

The capitalize() method in Python is used to convert the first character of a string to uppercase and the rest of the characters to lowercase.

In [94]:
str = "let's go!!!"
str_1 = str.capitalize()
print(str_1)

Let's go!!!

**center():**

The center() method in Python is used to center-align a string within a specified width.
It adds padding (spaces by default) on both sides of the string to ensure it is centered.

In [95]:
str_2 = str_1.center(150,"|")
print(str_2)

|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||Let's go!!!||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||