**Module** is like a code library which can be used to borrow the code written by somebody else, is of 2 types:
**Built-in** **modules** are included in Python's standard library and do not require installation and can be used using import. Example: math, os etc.
**External modules** are not included in the standard library and need to be installed using a package manager like pip. Example: numpy, pandas etc.

In [ ]:
print("Hi I am \"Suzain\".")  #Escape Sequence

Hi I am "Suzain".

In [ ]:
print("My name is \"Suzain\",\nI live in \"India\",\nI love \"Animals\".")

My name is "Suzain",
I live in "India",
I love "Animals".

In [ ]:
new_var = print("My name is \"Suzain\" " ," I live in \"India\"", sep="and")
new_var

My name is "Suzain" and I live in "India"

In [ ]:
print("Suzain", "24","Female", sep = "\n")  #Separator

Suzain
24
Female

In [ ]:
'''new_var = print("My name is \"Suzain\" " ," I live in \"India\"", sep="and")
new_var'''                   ##Multi-line Comment
print("Hello")

Hello

**Typecasting**: Conversion of one data type to another.
Has 2 types:  
**Implicit Typecasting:** Here, Python automatically converts one data type to another to avoid data loss or errors during operations.

**Explicit Typecasting:** It is when you manually convert one data type to another using functions like int(), float(), str(), etc.

In [ ]:
a = 1
b = 2
print(type(a))

<class 'int'>

In [ ]:
a = "1"
b = "2"
print(type(a))
print(a + b)

<class 'str'>
12

In [ ]:
a = int(2.2)
b = 2.2
print(type(a))

<class 'int'>

In [ ]:
#Implicit Typecasting:
a = 2  #integer
b = 2.2  #float
print(a + b)  #float

4.2

In [ ]:
#Explicit Typecasting:
a = "1"  #string
a = int(a)
print(type(a))

<class 'int'>

**Taking input from User using input() function:**

In [ ]:
a = int(input("Enter the first number:"))
b = int(input("Enter the second number:"))
print("The sum of a and b is:",a+b)

Enter the first number:2
Enter the second number:2
The sum of a and b is: 4

In [ ]:
name = input("Enter your name: ")
print("Hello ", name  + "! :)")

Enter your name: Maliha
Hello  Maliha! :)

**Strings**: A string is a sequence of characters enclosed within single quotes (' '), double quotes (" "), or triple quotes (''' ''' or """ """).

*Immutable:* Once a string is created, its content cannot be changed.


*Ordered:* Strings maintain the order of characters, so indexing and slicing are possible.

In [ ]:
print("\"The Sun is awake so I am awake!\"\n", "\"Do you wanna build a Snowman?\"")

"The Sun is awake so I am awake!"
 "Do you wanna build a Snowman?"

In [ ]:
frozen = """Do you wanna build a snowman

Or ride our bikes around the halls?

I think some company is overdue, I've started talking to

The pictures on the walls

Hang in there, Joan

It gets a little lonely, all these empty rooms

Just watching the hours tick by

(tick, tock, tick, tock, tick, tock, tick, tock)

Elsa?

Please, I know you're in there

People are asking where you've been

\"They say have courage and I'm trying to

I'm right out here for you

Just let me in

We only have each other, it's just you and me\"

What are we gonna do?

\"Do you wanna build a snowman?\""""
print(frozen)

Do you wanna build a snowman

Or ride our bikes around the halls?

I think some company is overdue, I've started talking to

The pictures on the walls

Hang in there, Joan

It gets a little lonely, all these empty rooms

Just watching the hours tick by

(tick, tock, tick, tock, tick, tock, tick, tock)

Elsa?

Please, I know you're in there

People are asking where you've been

"They say have courage and I'm trying to

I'm right out here for you

Just let me in

We only have each other, it's just you and me"

What are we gonna do?

"Do you wanna build a snowman?"

In [2]:
nm = """Harry"""
print(nm[-4:-2])
print(len(nm))

ar
5

In [1]:
name = input("Enter your name: ")
count = (len(name))
print("Your name has \"",count,"\" characters.")

Enter your name: ElsaAannnaa!!!!
Your name has " 15 " characters.

In [2]:
char_count = name[0:5]
print(char_count)

ElsaA

In [3]:
char_count = name[:9]
print(char_count)

ElsaAannn

In [4]:
char_count = name[:] #By default takes values from 0 to len of string
print(char_count)

ElsaAannnaa!!!!

In [5]:
for i in name:
  print(name)

ElsaAannnaa!!!!
ElsaAannnaa!!!!
ElsaAannnaa!!!!
ElsaAannnaa!!!!
ElsaAannnaa!!!!
ElsaAannnaa!!!!
ElsaAannnaa!!!!
ElsaAannnaa!!!!
ElsaAannnaa!!!!
ElsaAannnaa!!!!
ElsaAannnaa!!!!
ElsaAannnaa!!!!
ElsaAannnaa!!!!
ElsaAannnaa!!!!
ElsaAannnaa!!!!

In [6]:
for i in name:
  print(i)

E
l
s
a
A
a
n
n
n
a
a
!
!
!
!

**String Methods:**
The strip() method in Python does not limit its operation to only the exact characters at the ends of the string.
Instead, it works by removing all occurrences of any character specified in its argument from the start and end of the string.
It does not remove characters from the middle of the string.

The **rstrip() method** in Python is used to remove any trailing characters (characters at the end of a string).
By default, it removes whitespace (spaces, tabs, newlines) from the right side of the string
but you can also specify a set of characters to remove.

In [13]:
str = name.rstrip("!")
print(str)

ElsaAannnaa

In [14]:
str = name.rstrip("")
print(str)

ElsaAannnaa!!!!

In [9]:
str_1 = "TheJuTngleTBook@#$%**)(||\:;)"
print(str_1)

TheJuTngleTBook@#$%**)(||\:;)

In [12]:
result = str_1.rstrip("Thko@#$%*)(|\\:;")
print(result)

TheJuTngleTB

In [14]:
str = "TheJungleBook@#$%**)(||\:;)"
str_1= str.rstrip("@#$%**)(||\:;)")
print(str_1)

TheJungleBook

In [17]:
str_2 = str_1.upper()
print(str_2)

THEJUNGLEBOOK

In [18]:
str_2 = str_1.lower()
print(str_2)

thejunglebook